body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: none;
  overflow: hidden;
}

#garden-plot-container {
    position: absolute;
    top: 10%;
    height: 70%;
    width: 79.3%;
    display: grid;
    background-repeat: repeat;
    border: 10px solid #221407ee;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}

#left-plot-panel {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    z-index: 2;
    gap: 20px;
    border-radius: 5%;
}

#right-plot-panel {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1% 0 0 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#bottom-plot-panel {
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 18.6%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 1% 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#main-panel {
    position: absolute;
    top: 0;
    left: 10.15%;
    right: 6%;
    height: 100%;
    width: 79.4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2e152ed8;
    box-shadow: 5px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    border: #58481cff 5px solid;
    border-top: none;
    overflow: hidden;
}

#grass-canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6%;
    background-image: url(../assets/Empty-grass-plot.png);
    background-repeat: repeat;
    z-index: 0;
}

#grass-flakes {
    position: relative;
    bottom: 44%;
    width: 100%;
    height: 4.4%;
    background-color: transparent;
    background-repeat: repeat;
    pointer-events: none;
    background-image: url(../assets/grasflakes.png);
    z-index: 1;
}

#dirt-canvas {
    position: absolute;
    top: 7%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;
    background-image: url(../assets/dirt.png);

    z-index: 0;
}

#plot-title-sign {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);           
    top: .32vh;         
    width: 40%;   
    aspect-ratio: 4 / 1;                   
    z-index: 2;
    background-image: url(../assets/plot-title-post.png);
    background-repeat: no-repeat;
    background-size: contain;              
    background-position: center;
    pointer-events: none;
}

#plot-title {
    position: absolute;
    color: rgb(60, 177, 93);
    font-size: 2.5vw;
    font-family: "Rubik Bubbles";
    text-align: center;
    z-index: 2;
    text-shadow: none;
    bottom: 3.4vh;
    height: 20%;
    width: 100%;
    text-shadow: #000000 1px 1px 0;
}

#back-menu-button {
    position: absolute;
    font-size: 1.4vw;
    margin-top: 25%;
    margin-right: 15px;
    border-radius: 55%;
}

#right-button-container {
    position: relative;
    top: -2.3%;
    width: 100%;
    right: 2%;
    height: 14.2%;
    display: flex;
    justify-content: center;
    box-shadow: 0px -16px 14px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#left-button-container {
    position: relative;
    top: -2.3%;
    width: 98%;
    height: 14.2%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0 14px rgba(0, 0, 0, 0.5); 
    clip-path: inset(-10px -10px 0px 0px); 
}

#settings-button {
    position: absolute;
    font-size: 1.4vw;
    margin-top: 15%;
    margin-right: 15px;
    border-radius: 55%;
}

.panel-item-container {
    width: 88%;
    height: 38%;
    text-align: center;
    align-items: center;
    border-top: none;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: #432d05;
    border-radius: 12%;
    border: 4px #352404 solid;
}

.animated-bird {
    position: relative;
    top: 10%;
    right: 40%;
    width: 20%;
    z-index: 1;
    animation: floatation 4s ease-in-out infinite;
}

@keyframes floatation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-38px); }
    100% { transform: translateY(0); }
}

.portrait {
    position: absolute;
    top: 12%;
    background-image: url(../assets/background-portrait.png);
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 50%;
    border-radius: 50%;
    border: #3cb15d 3px dashed;
}

.current-bug-display {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 25%;
    left: 20%;
    z-index: 1;
}

#bug-control-container {
    position: fixed;
    top: 20%;
    right: 10.2%;
    width: 78.9%;
    height: 79.5%;
    z-index: 4;
    cursor: none;
}

#plot-items-container {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 52%;
    user-select: none;
}

.panel-item-title {
    padding-top: 0px;
    font-size: 1.6vw;
    font-family: "Tiny5", sans-serif;
    text-align: center;
    margin-top: 3%;
    margin-left: 5%;
    text-shadow: 0px 1px 4px #000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: #3cb15d;
}

.diet-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.diet-images {
    width: 40px;
    height: 40px;
}

#lives {
    position: relative;
    gap: 1px;
    height: 8%;
    width: 10%;
    display: flex;
    justify-content: center;
}

.panel-item-value {
    font-size: 2vw;
    font-family: "Tiny5", sans-serif;
    color: #3cb15d;
    text-shadow: 0px 1px 4px #000000;
    margin-top: -15px;
    margin-bottom: 10px;
    user-select: none;
    text-align: center;
}