body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: none;
  overflow: hidden;
}

#garden-plot-container {
    position: absolute;
    top: 10%;
    height: 70%;
    width: 79.3%;
    display: grid;
    background-repeat: repeat;
    border: 10px solid #221407ee;
    justify-content: center;
    align-items: center;
    border-bottom: none;

}

#left-plot-panel {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;

    border-right: 9px solid #3a2109;
    border-top: 0px solid #3a2109;
    z-index: 1;
}

#right-plot-panel {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1% 0 0 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

#bottom-plot-panel {
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 18.6%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 1% 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#top-plot-panel {
    position: absolute;
    top: 0;
    left: 10.45%;
    height: 12.6%;
    width: 79.6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 1% 1%;
    text-shadow: 2px 16px 1px rgb(59, 37, 26);
    text-align: center;
    background-color: var(--theme-color);
    overflow: hidden;
}

#main-panel {
    position: absolute;
    top: 11.5%;
    left: 10%;
    right: 6%;
    height: 69%;
    width: 79.8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2e152ed8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#plot-title-sign {
    position: absolute;
    height: 9vh;
    width: 25vw;
    align-items: center;
    justify-content: center;
    top: 3.2vh;
    z-index: 2;
    background-image: url(assets/plot-title-post.png);
    background-repeat: no-repeat;
    text-align: center;

    
}
#plot-title {
    position: absolute;
    color: rgb(60, 177, 93);
    font-size: 3vw;
    font-family: "Rubik Bubbles";
    text-align: center;
    z-index: 2;
    text-shadow: none;
    bottom: 2vh;
    height: 19%;
    width: 100%;
    text-shadow: #000000 1px 3px 0;;
}

#back-menu-button {
    font-size: 1.4vw;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 55%;
}

.panel-item-container {
    width: 106%;
    height: 12%;
    text-align: center;
    align-items: center;
    border-top: none;
    background-image: url(assets/plot-container-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

#veggies-title {
    font-size: 1.9vw;
    padding: 10px 20px;
    font-family: "Tiny5", sans-serif;
    text-align: center;
    margin-top: 13%;
    margin-left: 5%;
    text-shadow: -1px 9px 2px #000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: #2f5500;
}

.animated-bird {
    position: relative;
    top: 10%;
    right: 40%;
    width: 20%;
    z-index: 1;
}